<div class="row login-container" align="center">
    <div class="col">
        <form name="loginForm" class="login-form" novalidate>
            
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" ng-model="user.email" name="email" class="form-control" placeholder="Email" required>
            <span ng-show="loginForm.email.$invalid && loginForm.email.$dirty" class="error-color">Please input valid email</span>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" ng-model="user.password" class="form-control"  placeholder="Password" name="password" required>
            <span ng-show="loginForm.password.$invalid && loginForm.password.$dirty" class="error-color">Please input password</span>
          </div>
          <div align="center">
              <button type="submit" class="btn btn-default btn-login" ng-click="login()">Login</button>
              <a href="" ng-click="forgot_password()">Forgot password?</a> or <a href="" ng-click="sign_up()">Sign Up</a>
          </div>
        </form>
    </div>
</div>