<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{users.length}}</h3>

                    <p>Users</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add" data-toggle="modal" data-target="#myModal" ng-click="add()"></i>
                </div>
                <a href="" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Users</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                        <tr ng-repeat="user in users">
                            <td class="col-fixed">{{user.id}}</td>
                            <td class="">{{user.username}}</td>
                            <td class="">{{user.email}}</td>
                            <td class="">{{user.first_name}}</td>
                            <td class="">{{user.last_name}}</td>
                            <td class="">{{user.roleMappingMembers[0].role.name}}</td>
                            <td class="">
                                <button class="btn btn-default margin-15" title="Edit this field" data-toggle="modal" data-target="#myModal"
                                ng-click="edit(user)"><i class="fa fa-edit"></i></button>
                                <button title="Delete this field" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="delete(user)"
                                ng-disabled="user.username == username"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</section>
<!-- /.content -->
</div>

</section>
<!-- /.content -->
<script type="text/ng-template" id="modal.html">
    <!-- Modal -->
    <div tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">{{modal_title}}</h4>
                </div>
                <div class="modal-body">
                    <form class="signup-form" name="deleteUserForm" ng-show="isDelete">
                        <h4 align="center"> Do you want to delete this user?</h4>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" ng-model="selected_user.email" class="form-control" name="email" placeholder="Email" ng-disabled="true">

                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" ng-model="selected_user.username" name="username" class="form-control" placeholder="Username" ng-disabled="true">
                        </div>

                        <div align="center">
                            <button type="submit" class="btn btn-default btn-delete" ng-click="deleteUser(selected_user)">Delete</button>
                        </div>
                    </form>
                    <form class="signup-form" name="addUpdateForm" novalidate ng-show="!isDelete">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" ng-model="selected_user.email" class="form-control" name="email" placeholder="Email" required>
                            <span ng-show="addUpdateForm.email.$invalid && addUpdateForm.email.$dirty" class="error-color">Please valid email</span>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" ng-model="selected_user.username" class="form-control" placeholder="Username"
                            ng-disabled="isUpdateUser">
                            <span ng-show="addUpdateForm.username.$invalid && addUpdateForm.username.$dirty" class="error-color">Please input username</span>
                        </div>
                        <div class="form-group" ng-show="isAddUser">
                            <label>Password</label>
                            <input type="password" name="password" ng-model="selected_user.password" class="form-control" placeholder="Password" required>
                            <span ng-show="addUpdateForm.password.$invalid && addUpdateForm.password.$dirty" class="error-color">Please input password</span>
                        </div>
                        <div class="form-group" ng-show="isAddUser">
                            <label>Password Confirmation</label>
                            <input type="password" name="password_confirmation" ng-model="selected_user.password_confirmation" class="form-control" placeholder="Password"
                            required>
                            <span ng-show="selected_user.password_confirmation != selected_user.password && addUpdateForm.password_confirmation.$dirty"
                            class="error-color">Password doesn't match</span>
                        </div>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="first_name" ng-model="selected_user.first_name" class="form-control" placeholder="First Name" required>
                            <span ng-show="addUpdateForm.first_name.$invalid && addUpdateForm.first_name.$dirty" class="error-color">Please input first name</span>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" ng-model="selected_user.last_name" class="form-control" placeholder="Last Name">
                        </div>

                        <div align="center">
                            <button type="submit" class="btn btn-default btn-login" ng-click="updateUser(selected_user)" ng-show="isUpdateUser">Update User</button>
                            <button type="submit" class="btn btn-default btn-login" ng-click="addUser(selected_user)" ng-show="isAddUser">Add User</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
                </div>
            </div>

        </div>
    </div>
</script>